/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.main {
  background-image: url(../img/bg.jpg);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: none;
}
body {
  overflow-x:hidden;
}
